@media print {
  body {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .receipt {
    width: 80mm;
    margin: auto;
    padding: 0px;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    font-size: 12px;
  }

  th,
  td {
    text-align: left;
    padding: 2px 0;
  }

  button,
  .navbar,
  footer {
    display: none !important;
  }
}